[workspace]
members = ["contracts/auction", "contracts/lockdrop", "contracts/credits", "contracts/cw20-merkle-airdrop", "contracts/price-feed", "contracts/vesting-lp", "contracts/astroport/*"]

[profile.release]
rpath = false
lto = true
overflow-checks = true
