[package]
name = "astroport-periphery"
version = "1.1.0"
authors = ["_astromartian"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cw20 = { version = "0.13" }
cw-storage-plus = "0.15.1"
cosmwasm-std = { version = "1.0" }
cosmwasm-schema = "1.2.1"
terraswap = "2.6"
astroport = { git = "https://github.com/astroport-fi/astroport-core.git", tag = "v2.8.0" }

schemars = "0.8"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }

[dev-dependencies]
cosmwasm-schema = "1.0"
